@font-face {
  font-family: "iconfont"; /* Project id 2759227 */
  src: url('iconfont.woff2?t=1629521120881') format('woff2'),
       url('iconfont.woff?t=1629521120881') format('woff'),
       url('iconfont.ttf?t=1629521120881') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wendangchaxun:before {
  content: "\e66f";
}

.icon-gonggaoguanli:before {
  content: "\e61d";
}

.icon-gonggao:before {
  content: "\e6f9";
}

.icon-wendangtianjia:before {
  content: "\e6dd";
}

.icon-bumen:before {
  content: "\e605";
}

.icon-userplus:before {
  content: "\e61c";
}

.icon-tianjiayonghu:before {
  content: "\e64f";
}

.icon-guanliyuan-yonghuchaxun:before {
  content: "\e600";
}

.icon-zhiwei:before {
  content: "\e678";
}

.icon-fabudezhiwei:before {
  content: "\e67a";
}

.icon-97-yonghuchaxun:before {
  content: "\e87c";
}

.icon-bumen1:before {
  content: "\e608";
}

